<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerURL" value="http://"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IINGService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/INGServer/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IINGService" contract="INGService.IINGService"
                name="BasicHttpBinding_IINGService" />
        </client>
    </system.serviceModel>
</configuration>